%h4 main page
- current_user.kids.each do |kid|
  .kid.flex
    .flex-item-auto #{kid.name}
    .points #{kid.points || 0}
  - kid.assignments.each do |chore|
    .chore.flex
      .flex-item-auto=link_to chore.name, edit_assignment_path(chore)
      - [Date.today - 1, Date.today].each do |day|
        - if chore.can_be_done_on? day
          = bootstrap_form_for(chore.kachings.new) do |f|
            = f.hidden_field :assignment_id, value: chore.id
            = f.hidden_field :kid_id, value: kid.id
            = f.hidden_field :completed_on, value: day
            = f.submit (day==Date.today ? "today" : "yesterday")

      .days-of-week
        .btn-group{data: {toggle: 'buttons'}}
          /- %w(sun mon tue wed thur fri sat).rotate(Date.today.days_to_week_start(:sunday)+1).each do |day|
          - ((Date.today-6).upto Date.today).map { |d| d.strftime("%a").downcase }.each do |day|
            - if true
              %label.btn.btn-primary.active.btn-xs
                %input{type: 'checkbox', name: "assignment[#{day}]", checked: true}= day
            - else
              %label.btn.btn-primary.btn-xs
                %input{type: 'checkbox', name: "assignment[#{day}]"}= day
      .reward #{chore.point_reward}

/%ul.nav.nav-pills.nav-stacked
/  -
/  %li= link_to "Kids", kids_path
/  %li= link_to "Chores", assignments_path
/  %li= link_to "Check if they did it", root_path
/  %li= link_to 'Session sign out', dashboard_sign_out_user2_path

