= bootstrap_form_for(@assignment) do |f|
  = f.alert_message standard_alert

  = f.hidden_field :kid_id, value: @assignment.kid.id
  = f.text_field :name, hide_label: true, placeholder: "Name of chore"
  = f.text_area :description, hide_label: true, placeholder: "Describe what should be done"
  //= f.check_box :approval_required
  %p Rewards
  .flex
    .btn-group{data: {toggle: 'buttons'}}
      %label#cash-input.btn.btn-primary.active
        %input{type: 'radio', name: 'reward_type'} Cash
      %label#point-input.btn.btn-primary
        %input{type: 'radio', name: 'reward_type'} Points
    .flex-item-auto
      #points-value.hidden
        .input-group
          %input.form-control{:type => "text", "name" => "assignment[point_reward]"}/
          %span#basic-addon2.input-group-addon points
      #cash-value
        .input-group
          %span.input-group-addon $
          = f.number_field :cash_reward, class: 'text_field', step: 0.01, hide_label: true
          /%input.form-control{:type => "text", "name" => "assignment[cash_reward]"}/
  = f.select :frequency, Assignment.frequencies.keys.to_a
  #days-of-week-select
    .btn-group{data: {toggle: 'buttons'}}
      - %w(sun mon tue wed thur fri sat).each do |day|
        - if @assignment.send(day)
          %label.btn.btn-primary.active
            %input{type: 'checkbox', name: "assignment[#{day}]", checked: true}= day
        - else
          %label.btn.btn-primary
            %input{type: 'checkbox', name: "assignment[#{day}]"}= day
    /= f.check_box :sun
    /= f.check_box :mon
    /= f.check_box :tue
    /= f.check_box :wed
    /= f.check_box :thur
    /= f.check_box :fri
    /= f.check_box :sat
  #start-on-value.hidden
    = f.date_field :start_on
  = f.text_field :icon

  = f.submit
