= bootstrap_form_for(@assignment) do |f|
  = f.alert_message standard_alert

  = f.hidden_field :kid_id, value: @assignment.kid.id
  = f.text_field :name, hide_label: true, placeholder: "Name of chore"
  = f.text_area :description, hide_label: true, placeholder: "Describe what should be done"
  //= f.check_box :approval_required
  %p Rewards
  .flex
    .flex-item-auto
      #points-value
        .input-group
          %input.form-control{:type => "text", "name" => "assignment[point_reward]"}/
          %span#basic-addon2.input-group-addon points
  = f.select :frequency, Assignment.frequencies.keys.to_a
  #days-of-week-select
    .btn-group{data: {toggle: 'buttons'}}
      - %w(sun mon tue wed thu fri sat).each do |day|
        - if @assignment.send(day)
          %label.btn.btn-primary.active
            %input{type: 'checkbox', name: "assignment[#{day}]", checked: true}= day
        - else
          %label.btn.btn-primary
            %input{type: 'checkbox', name: "assignment[#{day}]", checked: false}= day
  #start-on-value.hidden
    = f.date_field :start_on
  = f.text_field :icon

  = f.submit
